{% extends "_layouts/base.html"  %}
{% load emoji_tags %}
{% load twitter_tags %}

{% block background %}background{% endblock %}

{% block content %}
{% include "_modules/nav.html" %}

<div class="container row">
	<div class="col-xs-12 col-lg-3 col-md-3 help-box">
		{% for object in object_list %}
		<div class="bs-callout bs-callout-success">
			<h4>{{ object.label|title }}</h4>
			<p>
			<span class="label-align">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<time class="duration" datetime="{{ object.created_at|date:'c' }}" title="{{ object.created_at|date:'c' }}">{{ object.created_at|date:'j F Y' }}</time>
			</span>
			</p>
		</div>
		{% endfor %}
	</div>

	<div class="col-xs-12 col-lg-9 col-md-9">
		{% with object_list|first as object%}
		<div class="main-help-box">
			<div class="bs-callout bs-callout-primary row">
				<div class="col-xs-12 col-lg-9 col-md-9">
					<h4>{{ object.label|title }}</h4>
					<p>
					{% if object.label|title == "Zx Flux"%}
					<a href="http://www.adidas.es/zx_flux" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop it</a>
					{% elif object.label|title == "Alphabounce"%}
					<a href="http://www.adidas.com/us/alphabounce" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop it</a>
					{% else %}
					<a href="http://www.adidas.es/personalizar?prefn1=division&prefn2=outlet&prefv3={{object.label|title}}&srule=sort2-category-topsellers&prefv1=Originals&prefv2=regular&prefn3=sportSub" class="btn btn-lg btn-danger"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop it</a>
					{% endif%}
					</p>
					<p>
					<span class="label-align">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<time class="duration" datetime="{{ object.created_at|date:'c' }}" title="{{ object.created_at|date:'c' }}">{{ object.created_at|date:'j F Y' }}</time>
					</span>
					</p>
				</div>
				<div class="col-xs-12 col-lg-3 col-md-3">
					<span href="#" class="thumbnail">
						<img src="{{ object.feature.url }}" alt="">
					</span>
				</div>
			</div>
			{% endwith %}
		</div>


		<div class="main-help-box">
			{% if not object.label %}
			{% for tweet in tweets %}
			<div class="bs-callout bs-callout-default row">
				<div class="col-xs-12 col-lg-2 col-md-2">
					<span href="#" class="custom-pic">
						<img src="{{ tweet.user.profile_image_url }}" alt="">
					</span>
				</div>
				<div class="col-xs-12 col-lg-10 col-md-10">
					{{ tweet|expand_tweet_urls|clean_media_urls|urlize_tweet_text|safe }}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
